# Arquivos e diretórios Python
*.pyc
*.pyo
__pycache__/

# Ambiente virtual
venv/
env/

# Arquivos de banco de dados
*.sqlite3

# Arquivos de configuração do Django
*.log

# Arquivos de configuração do IDE
.vscode/
.idea/
